<section class="index-page">
  {{!-- <p class="success"> --}}
    <img src={{image}} class="avatar">
    <h4>Hello {{name}}!</h4>
  {{!-- </p> --}}
  <a href='/auth/logout' >
    Logout
  </a>
</section>